<h1>Wedding To Do's</h1>

<ul>
<% @weddings.each do |wedding| %>
  <li><a href="/weddings/<%= wedding[:id] %>"><%= wedding[:couple_name] %></a></li>
<% end %>
</ul>

<form action='/weddings' method='POST'>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<h3>Couple's names</h3>
<input type="text" name="couple_name">
<h3>Pick a date</h3>
 <input type="date" name="date" class="datepicker">
<h3>Set a budget</h3>

<div class='row'>
<div id='test5'></div>
</div>

  <input type="hidden" id='min-val' class='col s6'>
  <input type="hidden" id='max-val' class='col s6'>



<%
@parsedData = JSON.parse(@body)
%>

<h1>Hotels</h1>

<input name='yelp_id' id='yelp_id' type='hidden'>

<ul id='cards' class='row'>


<% @parsedData["businesses"].sample(30).each do |hi| %>
<li class='col s6 m4 l3' style='opacity:0'>
<div class='card small clearfix' yelp-price='<%= hi["price"].count("$") %>' yelp-id='<%= hi["id"]%>'>
<div class='card-image'>
              <img src="<%= hi["image_url"] %>">
              <span class="card-title"><%= hi["name"].html_safe %></span>
            </div>
            <div class="card-content">
              <p><%= hi["price"] %><br>
              <%= hi["location"]["city"] %>, <%= hi["location"]["state"] %></p>
            </div>
            <div class="card-action">
              <a class='hotel-choose'>Choose</a>
              <a href='<%= hi["url"] %>'>Yelp</a>
            </div>

          </div>
</li>
<% end %>
</ul>

<button id='submit-btn' class='btn' style='display:none'>Submit</button>
</form>


<script>
  var slider = document.getElementById('test5');
  noUiSlider.create(slider, {
   start: [1, 4],
   connect: true,
   step: 1,
   range: {
     'min': 1,
     'max': 4
   },
   format: wNumb({
     decimals: 0
   })
  });

  slider.noUiSlider.on('update', function( values, handle ) {
    $('#min-val').val(values[0]);
    $('#max-val').val(values[1]);
  });

  slider.noUiSlider.on('slide', function( values, handle ) {
    $('.card[yelp-price]').each(function(){
      if($(this).attr('yelp-price')>=values[0] && $(this).attr('yelp-price')<=values[1])
        $(this).parent().fadeIn()
      else
        $(this).parent().fadeOut()
    })
  });



  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });

  $(function(){
    $(".hotel-choose").hover(function() {
        $(this).css('cursor','pointer');
    }, function() {
        $(this).css('cursor','auto');
    });

    $('.hotel-choose').on('click', function(){
      $workingObject = $(this).parent().parent().parent()
      $('#cards').children().not($workingObject).fadeOut()
      $('#submit-btn').show()
      $('#yelp_id').val($($($workingObject).children()[0]).attr('yelp-id'))
      $(this).text("Remove")
      $(this).on('click', function(){
        $workingObject = $(this).parent().parent().parent()
        $('#cards').children().not($workingObject).fadeIn()
        $('#submit-btn').hide()
        $('#yelp_id').val("")
        $(this).text("Choose")
      })
    })






    Materialize.showStaggeredList('#cards')
  })
</script>
