<h3>You Can Host Your Wedding Here</h3>


  <%=@location[:name]%><br>
  <%=@location[:address]%><br>
  <a href = "<%=@location[:url]%>">Visit the Hotels Page</a>
  <%= link_to "Back", @back_url %>


<!-- <h1> this is <%= @location[:name]%>'s page'</h1>
<ul>
  <li>description: <%= @location[:address]%></li>
  <li><img style="width:50%; height auto" src="<%=@location[:id]%>"</li>
</ul> -->
