<h4>Hello <%= @guest[:name] %>! Can you come to the wedding?</h4>

<%= form_for @guest do |f| %>
  <%= f.check_box( :rsvp, {}, "true", "false") %>
  <%= f.label :rsvp %>
  <br><br>
  <%= f.submit %>
<% end %>
