<h2>RSVP status</h2>

<!-- if guest RVSP'd true, then display them -->
Attending:<br>
<% @guests.each do |guest| %>
    <% if guest.rsvp == true %>
      <%= guest.name %> |
      <%= link_to 'Show Info', guest_path(guest) %> |
      <%= link_to 'Edit', edit_guest_path(guest) %> |
      <%= link_to 'Destroy', guest_path(guest),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %><br>
    <% end %>
<% end %>
<br>
<!-- if guest RVSP'd false, then display them here -->
Not attending:<br>
<% @guests.each do |guest| %>
  <% if guest.rsvp == false %>
    <%= guest.name %> |
    <%= link_to 'Show Info', guest_path(guest) %> |
    <%= link_to 'Edit', edit_guest_path(guest) %> |
    <%= link_to 'Destroy', guest_path(guest),
                method: :delete,
                data: { confirm: 'Are you sure?' } %><br>
    <% end %>
  <% end %>

<button><a href="/guests/new">Add a new guest for this wedding</a></button>
