<h2>Guest info:</h2>
  Guest ID: <%= @guest[:id] %><br>
  Guest Name: <%= @guest[:name] %> <br>
  Guest Email: <%= @guest[:email] %> <br>
  RSVP: <%= @guest[:rsvp] %><br>
  For Wedding ID:<%= @guest[:wedding_id] %><br>

<button><a href="/guests/<%=@guest[:id]%>/edit">Edit guest for this wedding</a></button>  
<button><a href="/guests/new">Add a new guest for this wedding</a></button>
