<h2>Guest info:</h2>
  Guest ID: <%= @guest[:id] %>
  Guest Name: <%= @guest[:name] %>
  Guest Email: <%= @guest[:email] %>
  RSVP: <%= @guest[:rsvp] %>
  For Wedding ID:<%= @guest[:wedding_id] %>
<%= link_to "Back" %>
